{% extends 'base.html' %}
{% block title %}Подтверждение восстановления пароля{% endblock %}
{% block content %}
    <div class="container">
        {% if validlink %}

            <h4>Придумайте новый пароль, и введите в форму ниже.</h4>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-primary mb-3">Установить новый пароль</button>
            </form>
            </div>

        {% else %}
            <h4>Ссылка на восстановление пароля недействительна, попробуйте перейти по ней ещё раз.</h4>
        {% endif %}
    </div>

{% endblock %}