{%extends 'base.html'%}
{%block title%}Восстановление пароля{%endblock%}
{%block content%}

<p>Вы можете восстановить пароль, заполнив форму ниже.</p>

    <div class="container">
        <h1>Восстановить пароль</h1>
        <p >Используйте эту форму для восстановления пароля в вашем профиле:</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary mb-3">Восстановить пароль</button>
        </form>
    </div>

{%endblock%}